name: Deploy WorkFlow3 to GitHub Pages

on:
  push:
    branches:
      - main
    # to avoid unnecessary deployments, we can ignore changes to markdown files and docs folder
    # paths-ignore:
    #  - '**.md'
    #  - 'docs/**'

permissions:
  contents: read
  pages: write
  id-token: write

# Setup concurrency to avoid multiple deployments at the same time
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout koodi
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js (v20)
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      
      - name: Install dependencies
        run: npm install --force

      - name: Build Docusaurus website
        # This creates the static files in the 'build' folder
        run: npm run build
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4